<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% macro displayPitchList(pitches) %}
    {% for pitch in pitches %}
        <div class="">
        <li class="text-center">
        <a href="/pitches"></a>
        </li>
        {% endfor %}
        </div>
        {% endmacro %}

    {% macro display_comments(comments) %}
    <div class="container">
    </div>
    <div class="card-columns">
    {% for comment in comments %}
    <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
    <p>{{comment.comment}}</p>
    </div>
    <p class="text-center">{{comment.post.title}}</p>
    </div>
    {% endfor %}
</div>

{% endmacro %}


