<html>
    <head>
    </head>
    <body>
    {% macro displayPitchList(pitches) %}
    {% for pitch in pitches %}
        <div class="">
        <ol class="" style="color:blue;">
          <strong>{{pitch.category}}:</strong><br>
            <strong>Title:</strong><br>{{ pitch.title}}<br>
            <strong>Description:</strong><br>{{ pitch.description}}
             </ol><hr>
        {% endfor %}
        </div>
    {% endmacro %}
    
        {% macro displayCommentList(comments) %}
        {% for pitch in pitches %}
            <div class="">
            <li class="text-center">
              <strong>{{pitch.category}}</strong><br>
              <strong>{{ pitch.title}}</strong><br>
            {{ pitch.description}}
            </li>
        {% endfor %}
        </div>
    {% endmacro %}
</body>
</html>
        
